body {
    background-color: #000406;
    background-image: url('../img/trivialBOTS_questionarms.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.logoIndex {
    padding-top: 90px;
    margin-bottom: -30px;
}

.form-control {
    width: 420px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #007474;
    text-align: center;
    display: inline;
}

.display-4 {
    color: #67bebe;
    text-align: center;
    margin-top: 60px;
}

.questionSpace {
    margin-bottom: 100px;
    margin-top: 30px;
    color: #fff;
    height: 70px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.robotBox {
    width: 230px;
    height: 230px;
    display:block;
    margin: 8px;
    border: 2px solid #FF9A35;
    text-align: center;
}

.wrongX img {
    width: 226px;
    height: 226px;
    display:block;
    margin: 8px;
    border: 2px solid red;
    text-align: center;
    order: -2
}

.row {
    display: flex;
    justify-content: space-evenly
}

.container h1 {
    color: #67bebe;
}

h3 {
    color: #fff;
}

h5 {
    color: #67bebe;
    margin-top: -60px;
    margin-bottom: 40px;
    font-weight: 300;
}

.bg-dark {
    background-color: #002d3a!important;
}

.btn {
    width: 450px;
    font-size: 20px;
    border-radius: 0px;
    margin: 20px;
    padding: 10px 10px;
}

.btn-info {
    color: #fff;
    background-color: #007474;
    border-color: #007474;
}


#footer {
    text-align: center;
    color: #cccccc;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 16px;
}

#footer a {
    text-decoration: none;
    color: #82c9c9;
}

#footer a:hover {
    text-decoration: none;
    color: #67bebe;
}



